.logo{
    max-width: 100%;
    height: auto;
    &__container{
        width: 7.5rem;
        padding-top: $nav-height;
        

    }
    &__grid{
        display: grid;
        width: 90%;
        margin: 0 auto;
        padding: 2.5rem;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-auto-flow: dense;
        align-items: center;
        justify-items: center;
        
        @include resize(skinny){
            grid-template-columns: 1fr 1fr;
        }
        @include respond(phone){
            grid-template-columns: 1fr 1fr;
        }
    }
    
}
.logo__section{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.homepage__link {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
}

.homepage__container {
    display: flex;
    height: 100vh;
    
    @include resize(mid){
        display: inline-flexbox;
    }
    @include respond(tab-port){
        display: inline-flexbox;
    }
    padding: 8rem 2rem;
    width: 90%;
    margin: $nav-height auto;
    animation: slide-up .2s ease-in;
}
.homepage__text{
    width: 95%;
    padding: .5rem;
    @include resize(mid){
        width: 100%;
    }
    @include respond(tab-port){
        width: 100%;
    }
    p {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 400;
    }
        
}
.homepage__picture{
    width: 50%;
    padding: 1.5rem;
    @include resize(mid){
        width: 30%;
    }
    @include respond(tab-port){
        width: 30%;
    }
    &--img{
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 0 16px $link-color;
        border: 1px solid $link-color;
    }
}

@keyframes slide-up {
    0%{
        transform: translateY(15%)
    }
    100%{
        transform: translateY(0%)
    }
}
.hashlink:active, .hashlink:visited, .hashlink:link {
    color: $link-color;
}
