$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Other variables
$nav-height: 6rem;
$footer-height: 4rem;
$fa-font-path: "../webfonts";

$link-color: 
#d505ff;
$background-color: #dcd5f2;
$color-black: #000;
$color-green: #8affd4;
$color-grey: #666666;
$highlight-color: #8acaff;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400&display=swap');

body {
    
    font-weight: 400;
}